
html { height: 100%; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
	width: 100%;
	position: relative;
}

.clr {
	clear: both;
	float: none;
}

.main {
	width: 95%;
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}
@media screen and (max-width: 690px) {
	.codrops-demos {
		float: left;
		clear: both;
	}
}

